#task-div {
    display: inline-block;
    padding: 1%;
}


.task {
    display: inline-block;
    background-color: burlywood;
    border-radius: 1vw;
    width: 22vw;
    padding: 1vw;
}

.complete {
    background-color: rgba(222,184,135,0.5);
}